@use 'variables' as v;

/* Helvetica Neue font */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 700.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 800.ttf');
    font-weight: 800;
}

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.page {
    width: 100svw;
    width: 100vw;
    height: 100svh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myVibe {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;

    height: 70px;
    line-height: normal;
    font-family: v.$font;
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-primary);

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::selection {
    background: #f64f59;
    color: #fff;
}

.test {
    background-color: red;
}

.spacer {
    margin-top: 60px;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    * {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #757575 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: var(--color-secondary)
}

*::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 40px;
    border: 3px solid var(--color-secondary);
}