@use 'variables' as v;

#Comment {

    .commentContainer {

        display: flex;
        flex-direction: row;


        .avatarContainer {
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;

            * {
                width: 40px;
                border-radius: 50%;
            }

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .commentMain {
            margin: 0 10px;
            background-color: var(--color-hover);
            width: 100%;
            border-radius: 10px;
            padding: 10px 10px 0 10px;

            .username {
                font-family: Inter, sans-serif;
                color: var(--color-primary);
                font-size: 1.2rem;
                font-weight: bold;
                text-decoration: none;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                display: flex;
                align-items: center;

                .verifiedIcon {
                    margin-left: 5px;
                    font-size: 1.2rem;
                    margin-bottom: 3px;
                }
            }

            .content {
                color: var(--color-primary);
                font-family: Inter, sans-serif;
                font-size: 1rem;

                a {
                    text-decoration: none;
                }

                .url {
                    color: v.$color-lightblue;
                    text-decoration: underline;
                }

                .hashtag {
                    color: v.$color-purple;
                }

                .mention {
                    color: v.$color-red;
                }
            }

            .commentFooter {
                display: flex;
                flex-direction: row;
                align-items: center;

                .likeButton {
                    .likeIcon {
                        color: var(--color-primary);
                    }

                    .likeIconFilled {
                        color: red;
                    }
                }

                .likes {
                    font-family: Inter, sans-serif;
                    color: var(--color-primary);
                    font-size: 1.2rem;
                }
            }
        }
    }
}