@use 'variables' as v;

#MainPage {
    .bottom {
        display: flex;
        justify-content: center;
    }

    .left {
        width: 30%;
        max-width: 300px;
        max-height: calc(100vh - 70px);
    }

    .right {
        width: 30%;
        max-width: 300px;
        max-height: calc(100vh - 70px);
    }

    .center {

        display: flex;
        justify-content: center;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            width: 50%;
        }
    }

    // TODO fix this
    .followingList {
        position: fixed;
        top: 80px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: 30px;
        border: 2px solid var(--color-outline);
        border-radius: 20px;
        height: auto;
        min-height: 300px;
        overflow-y: auto;
        background-color: var(--color-secondary);

        .noFollowingsText {
            margin-left: 20px;
            margin-top: 20px;
            font-family: Inter, sans-serif;
            color: var(--color-primary);
        }

        .following {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-family: Inter, sans-serif;
            color: var(--color-primary);
            border-bottom: 2px solid var(--color-outline);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            .followingLinks {
                color: var(--color-primary);
                text-decoration: none;
            }
        }
    }

    .noPostsText {
        font-family: v.$font;
        color: var(--color-primary);
        font-size: 3rem;
        text-align: center;
        margin-top: 50px;
        width: 90%;
    }
}