@use 'variables' as v;

#MainPage {
    .bottom {
        display: flex;
        justify-content: center;
    }

    .left {
        width: 30%;
        max-width: 300px;
        max-height: calc(100vh - 70px);
    }

    .right {
        width: 30%;
        max-width: 300px;
        max-height: calc(100vh - 70px);
    }

    .center {

        display: flex;
        flex-direction: column;
        align-items: center;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            width: 50%;
        }
    }

    // TODO fix this
    .followingList {
        position: fixed;
        top: 80px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: 30px;
        border: 2px solid var(--color-outline);
        border-radius: 20px;
        height: auto;
        min-height: 300px;
        overflow-y: auto;
        background-color: var(--color-secondary);

        .noFollowingsText {
            margin-left: 20px;
            margin-top: 20px;
            font-family: Inter, sans-serif;
            color: var(--color-primary);
        }

        .following {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-family: Inter, sans-serif;
            color: var(--color-primary);
            border-bottom: 2px solid var(--color-outline);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            .followingLinks {
                color: var(--color-primary);
                text-decoration: none;
            }
        }
    }

    .noPostsText {
        font-family: v.$font;
        color: var(--color-primary);
        font-size: 3rem;
        text-align: center;
        margin-top: 50px;
        width: 90%;
    }
}

.postModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-outline);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        .headerLeft {
            width: 40px;
        }

        .title {
            font-family: v.$font;
            font-size: 1.5rem;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .closeButton {
            width: 40px;
            height: 40px;
            border-radius: 10px;

            /* Smaller screen (mobile) */
            @media only screen and (max-width: 768px) {
                margin-right: 35px;
            }

            /* Larger screen (desktop/tablet) */
            @media only screen and (min-width: 768px) {
                margin-right: 10px;
            }

            &:hover {
                background-color: var(--color-hover);
            }

            svg {
                color: var(--color-primary);
            }
        }

        border-bottom: 2px solid var(--color-outline);
    }
}