@use 'variables' as v;

.navbarSpacer {
    height: 70px;
}

.navbar {
    background: var(--color-bg);
    width: 100%;
    position: fixed;
    height: 70px;
    border-bottom: 2px solid #3c4043;
    z-index: 999;

    .toolbar {
        display: flex;
        align-items: center;
    }

    .smallerMyVibe {
        font-size: 1.5rem;
        position: relative;
        top: 18px;
        left: -10px;
    }

    .searchBarContainer {
        height: 70px;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            width: 40%;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .searchBar {
        width: 100%;
        background-color: var(--color-searchbar);
        border-radius: 20px;
        border: 2px solid var(--color-outline);

        fieldset {
            outline: none;
            border: none;
        }

        * {
            font-family: Inter, sans-serif;
            color: var(--color-primary);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }

    .searchBarFocused {

        @keyframes big {
            0% {
                width: 40%;
            }

            100% {
                width: 50%;
            }
        }

        animation: big 0.3s ease-in-out forwards;
    }

    .searchBarUnfocused {


        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            @keyframes small {
                0% {
                    width: 50%;
                }

                100% {
                    width: 40%;
                }
            }
        }

        animation: small 0.3s ease-in-out forwards;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .searchBarMobile {
        width: 90%;
        z-index: 1;
        background-color: var(--color-searchbar);
        border-radius: 20px;
        border: 2px solid var(--color-outline);

        position: relative;
        left: -10px;

        fieldset {
            outline: none;
            border: none;
        }

        * {
            font-family: Inter, sans-serif;
            color: var(--color-primary);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }

    .searchBarMobileShow {
        @keyframes fadein {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        animation: fadein 0.3s ease-in-out forwards;
    }

    .searchBarMobileHide {
        @keyframes fadeout {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        * {
            animation: fadeout 0.3s ease-in-out forwards;
        }

        animation: fadeout 0.3s ease-in-out forwards;
    }

    .avatarContainer {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;

        margin-right: 10px;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            margin-left: -25px;
        }

        * {
            width: 40px;
            border-radius: 50%;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .notificationBtn {
        width: 40px;
        height: 40px;
        border-radius: 10px;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            margin-right: 35px;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            margin-right: 10px;
        }

        &:hover {
            background-color: var(--color-hover);
        }

        svg {
            color: var(--color-primary);
        }
    }

    .searchBtn {
        width: 40px;
        height: 40px;
        border-radius: 10px;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            margin-right: 10px;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            margin-right: 10px;
        }

        &:hover {
            background-color: var(--color-hover);
        }

        svg {
            color: var(--color-primary);
        }
    }

    .themeBtn {
        width: 40px;
        height: 40px;
        border-radius: 10px;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            margin-right: 10px;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            margin-right: 10px;
        }

        &:hover {
            background-color: var(--color-hover);
        }

        svg {
            color: var(--color-primary);
        }
    }

    .buttonsContainer {
        @media only screen and (max-width: 768px) {
            position: relative;
            left: 20px;
        }
    }
}

.searchResultsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg);
    border: 2px solid var(--color-outline);
    color: var(--color-primary);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    #Pfp {
        margin: 0 20px;
    }

    .searchResultsTitle {
        font-family: v.$font;
        font-size: 2rem;
        padding: 20px 0;
        width: 100%;
        background-color: var(--color-bg);
        border-bottom: 2px solid var(--color-outline);
        top: 0;
        height: auto;
        position: sticky;
        z-index: 900;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            margin-right: 10px;
            font-size: 2.2rem;
        }
    }

    #FollowingLink:nth-last-child(1) {
        margin-bottom: 60px;
    }

    .searchMoreLink {
        font-family: v.$font;
        font-size: 1.3rem;
        padding: 20px 0 40px 0;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.searchResultsPreview {
    width: 100%;
    z-index: 999;
    margin-top: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-bg);
    border: 2px solid var(--color-outline);
    border-radius: 10px;
    opacity: 0.9;
    max-width: 600px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .noMatchesText {
        font-family: Inter, sans-serif;
        color: var(--color-primary);
        font-size: 1.2rem;
        padding: 20px 0;
    }

    #FollowingLink:nth-last-child(1) {
        border-bottom: none;
    }

    &:focus {
        outline: none;
    }
}