@use 'variables' as v;

#NotificationMenu {

    @keyframes fadeIn {
        0% {
            transform: scale(0.8);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    width: 330px;
    height: 360px;
    position: fixed;
    z-index: 999;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 0.07s ease-in forwards;

    /* Smaller screen (mobile) */
    @media only screen and (max-width: 768px) {
        right: 0;
    }

    /* Larger screen (desktop/tablet) */
    @media only screen and (min-width: 768px) {
        right: 80px;
    }

    .paper {
        width: 100%;
        height: 100%;
        background-color: var(--color-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 1.5rem;
            padding: 10px 0 5px 0;
            font-family: v.$font-title;
            color: var(--color-primary);
            width: 80%;
            text-align: center;
            border-bottom: 2px solid var(--color-outline);
        }

        .notificationsContainer {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 10px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;

            .notification {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .notificationContent {
                    color: var(--color-primary);
                    font-size: 1.1rem;
                    font-family: v.$font-text;

                    a {
                        text-decoration: none;
                    }

                    .url {
                        color: v.$color-lightblue;
                    }

                    .hashtag {
                        color: v.$color-purple;
                    }

                    .mention {
                        color: v.$color-red;
                    }
                }

                .notificationDivider {
                    width: 70%;
                    height: 1px;
                    background-color: var(--color-outline);
                }
            }

            .notification:nth-last-child(1) {
                margin-bottom: 40px;

                .notificationDivider {
                    display: none;
                }
            }
        }
    }
}