@use 'variables' as v;

#PostInput {

    width: 95%;
    margin-top: 15px;

    .postInput {
        margin: 20px;
        padding: 15px;
        background-color: var(--color-secondary);
        border-radius: 40px;
        border: 2px solid var(--color-outline);

        .button {
            text-transform: none;
            font-size: 1.3rem;
            background-color: var(--color-bg);
            font-family: v.$font-title;
            letter-spacing: 1px;
            text-align: left;
            cursor: pointer;
            color: var(--color-primary);
            border: 2px solid var(--color-outline);
            padding: 15px;
            border-radius: 20px;

            @media only screen and (min-width: 800px) {
                width: 85%;
            }

            @media only screen and (max-width: 800px) {
                width: 100%;
            }

            &:hover {
                background-color: var(--color-hover);
            }
        }
    }
}