@use 'variables' as v;

#Post {
    .post {
        padding: 20px;
        background-color: var(--color-secondary);
        border-radius: 10px;
        border: 2px solid var(--color-outline);

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            margin: 10px 0;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            margin: 10px;
        }
    }

    .postHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--color-outline);

        .username {
            font-family: v.$font-text;
            color: var(--color-primary);
            font-size: 1.4rem;
            font-weight: bold;
            margin-left: 20px;
            text-decoration: none;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            display: flex;
            align-items: center;

            .verifiedIcon {
                margin-left: 5px;
                font-size: 1.5rem;
            }
        }
    }

    .postContent {


        .content {
            color: var(--color-primary);
            font-family: v.$font-text;
            font-size: 1.2rem;
            word-wrap: break-word;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;

            a {
                text-decoration: none;
            }

            .url {
                color: v.$color-lightblue;
                text-decoration: underline;
            }

            .hashtag {
                color: v.$color-purple;
            }

            .mention {
                color: v.$color-red;
            }
        }
    }

    .postFooter {
        display: flex;
        flex-direction: column;

        .buttonsContainer {
            display: flex;
            flex-direction: row;
            align-items: center;

            .likeButton {
                .likeIcon {
                    color: var(--color-primary);
                }

                .likeIconFilled {
                    color: red;
                }
            }

            .likes {
                font-family: v.$font-text;
                color: var(--color-primary);
                font-size: 1.2rem;
            }

            .commentButton {

                position: relative;
                left: 20px;

                .commentIcon {
                    color: var(--color-primary);
                }
            }

            .comments {

                position: relative;
                left: 20px;

                font-family: v.$font-text;
                color: var(--color-primary);
                font-size: 1.2rem;
            }
        }

        .commentsContainer {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            margin: 20px 20px 0 20px;
            border-top: 2px solid var(--color-outline);
            gap: 20px;
            max-height: 300px;
            overflow-y: auto;
            width: 100%;
            align-self: center;

            .showMoreComments {
                font-family: v.$font-text;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;
            }

            .commentsInput {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                margin: 10px 0;

                .commentsInputButton {
                    justify-content: left;

                    /* Smaller screen (mobile) */
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        padding-left: 5px;
                    }

                    /* Larger screen (desktop/tablet) */
                    @media only screen and (min-width: 768px) {
                        width: 90%;
                        padding-left: 15px;
                    }

                    text-transform: none;
                    font-size: 1.1rem;
                    background-color: var(--color-bg);
                    font-family: Inter,
                    sans-serif;
                    cursor: pointer;
                    color: var(--color-primary);
                    border: 2px solid var(--color-outline);
                    border-radius: 10px;

                    &:hover {
                        background-color: var(--color-hover);
                    }
                }
            }
        }
    }
}