@use 'variables' as v;

#ProfilePage {
    main {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Smaller screen (mobile) */
        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        /* Larger screen (desktop/tablet) */
        @media only screen and (min-width: 768px) {
            width: 50%;
        }

        .loading {
            margin-top: 30%;
        }

        p {
            font-family: Inter, sans-serif;
            color: var(--color-primary);
        }

        .top {

            /* Smaller screen (mobile) */
            @media only screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            /* Larger screen (desktop/tablet) */
            @media only screen and (min-width: 768px) {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .avatarContainer {
                width: 120px;
                min-width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 20px 20px;

                * {
                    width: 120px;
                    border-radius: 50%;
                }

                .avatar {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;

                    &:hover {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            div {

                /* Smaller screen (mobile) */
                @media only screen and (max-width: 768px) {
                    text-align: center;
                }

                /* Larger screen (desktop/tablet) */
                @media only screen and (min-width: 768px) {
                    text-align: left;
                }

                .username {
                    font-size: 2.5rem;
                    font-weight: 600;
                }

                .email {
                    font-size: 1rem;
                    margin-bottom: 5px;
                }

                .fullName {
                    font-size: 1rem;
                    margin-bottom: 15px;
                }
            }

            border-bottom: 2px solid var(--color-primary);
        }

        .profileButton {
            background-color: var(--color-primary);
            color: var(--color-secondary);
            font-family: v.$font;
            font-weight: 600;
            font-size: 1.2rem;
            width: 50%;
            height: 60px;
            border-radius: 5px;
            margin-top: 25px;
            text-transform: none;

            &:hover {
                background-color: var(--color-primary);
                color: var(--color-secondary);
            }
        }

        .createdAt {
            font-size: 1rem;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .numericStats {
            text-align: center;
            margin-top: 15px;

            * {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .bio {
            font-size: 1.2rem;
            margin: 30px 0 0 0;
            padding-bottom: 10px;
            text-align: center;
            width: 80%;
            border-bottom: 2px solid var(--color-primary);
        }

        .posts {
            display: flex;
            flex-direction: column;
            align-items: center;

            .postsTitle {
                font-size: 1.8rem;
                font-weight: 600;
                margin-top: 20px;
            }
        }
    }
}