/* Helvetica Neue font */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 600.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 700.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/font/HelveticaNeue\ 800.ttf');
    font-weight: 800;
}

.page {
    width: 100svw;
    width: 100vw;
    height: 100svh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background: #f64f59;
    color: #fff;
}
